body {
    background: #0f0f0f;
}

.main {
    margin: auto;
    color: #d8d8d8;
    font-size: 13px;
    max-width: 540px;
    text-align: center;
    font-family: Verdana;
}

.battle-zone {
    margin: 20px;
    border-radius: 7px;
    border: 1px solid white;
}

.char-library {
    top: 0px;
    left: 50px;
    padding: 10px;
    position: fixed;
    background: #101317;
    border: 1px white solid;
}

.add-char {
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 300px;
    background: #565656;
}

.add-char-title {
    font-size: 16px;
    cursor: pointer;
    margin: 11px;
    font-weight: bold;
}

.initiative-row {
    line-height: 24px;
}

.set-initiatives {
    margin: 20px 0;
}

.current-turn, .current-turn td {
    background: #4b4b4b;
    font-weight: bold;
}

.battle-actions {
    padding: 16px 0;
}

.battle-log {
    overflow: auto;
    max-height: 100px;
}

.action-row {
    padding: 4px;
    margin: 5px 0;
}

.clickable { cursor: pointer; }
.clickable:hover { color: aquamarine }

.row {
    padding: 4px;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    vertical-align: middle;
}

.minmax {
    top: 1px;
    left: 4px;
    cursor: pointer;
    position: absolute;
    font-family: monospace;
}

.reg-input {
    width: 100px;
    padding: 2px 3px;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
}

.inv {
    color: white;
    background: #333;
}

.selectC {
    padding: 2px 6px;
    color: white;
    background: #333;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}
.selectC option {
    cursor: pointer;
}

button {
    color: white;
    cursor: pointer;
    background: #333;
    border: 1px solid;
    padding: 2px 13px;
    border-radius: 3px;
}

.right-f {
    float: right;
}

.big1 {
    font-size: 15px;
}
.big2 {
    font-size: 17px;
}

.hide {
    display: none;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
    padding: 1px;
}
.small { width: 60px; }

hr {
    border-width: 1px;
    border-style: dotted;
}

table {
    width: 100%;
    border-spacing: 0;
}

table th {
    padding: 6px;
    font-style: 15px;
}

table td {
    padding: 4px;
}
